@import "../../../config/utils/respond-to";
@mixin default-button-Style {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  background-color: transparent;
  width: 7vh;
  height: 7vh;
  display: flex;
  border-radius: 220px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.DefaultButtonContainer {
  display: flex;
  height: 96%;
  background-color: transparent;
  width: 24%;
  align-items: center;
  outline: 0;
  border: none;
  border-radius: 10px;
  justify-content: center;
}

.defaultSymbolButton {
  @include default-button-Style;
}

.defaultSymbolButton:hover {
  background-color: IndianRed;
  color: white;
}

.defaultCustomSymbolButton {
  @include default-button-Style;
  background-color: whitesmoke;
  color: #475362;
}

.defaultCustomSymbolButton:hover {
  background-color: IndianRed;
  color: white;
}

.defaultDeleteButton{
  @include default-button-Style;
  color: IndianRed;
}

.defaultDeleteButton:hover {
  background-color: IndianRed;
  color: white;
}

.textStyle {
  font-size: 2em;
  margin: auto;
  text-align: center;
  font-family: Feather, serif;
  @include respond-to(handhelds) {font-size: 2em;};
  @include respond-to(minimum-screens) {font-size: 2.2em;};
  @include respond-to(phone-screens) {font-size: 2.4em;};
  @include respond-to(medium-screens) {font-size: 2.6em;};
  @include respond-to(standart-screens) {font-size: 2.8em;};
  @include respond-to(big-desktop) {font-size: 2.3em;};
}

.prestigeCustomSymbolButton {
  @include default-button-Style;
  background-color: rgba(15, 22, 30, 0.74);
  color: rgba(255, 255, 224, 0.75);
}

.prestigeCustomSymbolButton:hover {
  background-color: rgba(65, 65, 129, 0.8);
  color: #D86489;
}

.prestigeDeleteButton{
  @include default-button-Style;
  color: #D86489;
}

.prestigeDeleteButton:hover {
  background-color: rgba(65, 65, 129, 0.8);
  color: rgba(255, 255, 224, 0.75);
}

.prestigeSymbolButton {
  @include default-button-Style;
}

.prestigeSymbolButton:hover {
  background-color: rgba(65, 65, 129, 0.8);
  color: rgba(255, 255, 224, 0.75);
}