@import "../../../config/utils/respond-to";

.DefaultButtonContainer {
  display: flex;
  height: 96%;
  background-color: transparent;
  width: 24%;
  align-items: center;
  outline: 0;
  border: none;
  border-radius: 10px;
  justify-content: center;
}

.DefaultButtonStructure {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: transparent;
  width: 7vh;
  height: 7vh;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.DefaultButtonStructure:hover {
  background-color: IndianRed;
  color: white;
}

.ButtonStructure {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: whitesmoke;
  width: 7vh;
  height: 7vh;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.ButtonStructure:hover {
  background-color: IndianRed;
  color: white;
}

.textStyle {
  font-size: 2em;
  align-self: center;
  font-family: Feather, serif;
  line-height: 0.4em;
  @include respond-to(minimum-screens) {font-size: calc(12px + 40%); line-height: 1em;};
  @include respond-to(medium-screens) {font-size: calc(12px + 70%); line-height: 1em;};
}