.DefaultButtonContainer{
  display: flex;
  height: 96%;
  background-color: transparent;
  width: 24%;
  align-items: center;
  outline: 0;
  border: none;
  border-radius: 10px;
  justify-content: center;
}

.DefaultButtonStructure{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: transparent;
  width: 7vh;
  height: 7vh;
  border-radius: 30px;
}

.DefaultButtonStructure:hover{
  background-color: IndianRed;
  color: white;
}

.ButtonStructure{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: whitesmoke;
  width: 7vh;
  height: 7vh;
  border-radius: 30px;
}

.ButtonStructure:hover{
  background-color: darkred;
  color: white;
}

.textStyle{
  font-size: 25px;
  align-self: center;
  font-family: Feather, serif;
  line-height: 5px;
}