@import "../../config/utils/respond-to";

.displayContainer {
  width: 100%;
  height: 35%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.displayTopContainer {
  height: 30%;
  width: 100%;
  background-color: whitesmoke;
  align-content: flex-end;
  justify-items: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.displayBottomContainer {
  height: 30%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.displayTopText {
  font-size: 0.9em;
  color: darkgrey;
  margin-left: 1em;
  @include respond-to(minimum-screens) {font-size: 1em;};
  @include respond-to(phone-screens) {font-size: 1.1em};
  @include respond-to(medium-screens) {font-size: 1.2em;};
  @include respond-to(standart-screens) {font-size: 1.3em;};
  @include respond-to(big-desktop) {font-size: 1.3em;};
}

.displayTopText em {
  font-size: 0.9em;
  color: mediumslateblue;
  margin-right: 1vw;
  @include respond-to(minimum-screens) {font-size: 1em;};
  @include respond-to(phone-screens) {font-size: 1.1em};
  @include respond-to(medium-screens) {font-size: 1.2em;};
  @include respond-to(standart-screens) {font-size: 1.3em;};
  @include respond-to(big-desktop) {font-size: 1.3em;};
}

.displayMainTextContainer {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
}

.displayMainText {
  font-family: "Fira Code Medium", sans-serif;
  color: #282c34;
  margin-right: 1%;
  margin-left: 1%;
}

.displayRightText {
  font-size: calc(2.4em + 2vmin);
  font-family: "Fira Code Medium", sans-serif;
  color: #282c34;
  margin-right: 1%;
  margin-left: 1%;
}

.displayMainLeft {
  width: 15%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.displayMainRight {
  white-space: normal;
  overflow: hidden;
  width: 85%;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  justify-items: flex-end;
  align-items: center;
}

.displayCopyButton {
  width: 70%;
  height: 40%;
  border-radius: 14px;
  outline: 0;
  display: flex;
  border: none;
  background-color: lightgrey;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.displayCopyButton:hover {
  background-color: IndianRed;
  color: white;
}

.displayReturnButton {
  width: 50%;
  height: 40%;
  border-radius: 14px;
  outline: 0;
  border: none;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: transparent;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.displayReturnButton:hover {
  background-color: IndianRed;
  color: white;
}

.displayReturnIconButton {
  text-align: center;
}

.displayBottomButtonsContainer {
  width: 24%;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.displayButtonsText {
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 1.1em;
  font-family: "Fira Code Medium", sans-serif;
  @include respond-to(minimum-screens) {font-size: 0.9em;};
  @include respond-to(phone-screens) {font-size: 1.1em};
  @include respond-to(medium-screens) {font-size: 1.4em;};
}

.displayCopyPopup {
  align-self: center;
  text-align: center;
  font-size: 1.2em;
  font-family: "Fira Code Medium", sans-serif;
  font-weight: lighter;
  font-style: italic;
  color: indianred;
  position: absolute;
  @include respond-to(minimum-screens) {font-size: 1.3em;};
  @include respond-to(phone-screens) {font-size: 1.4em};
  @include respond-to(medium-screens) {font-size: 1.5em;};
}