.displayContainer {
  height: 33%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.displayTopContainer {
  height: 30%;
  background-color: whitesmoke;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: flex-end;
  display: flex;
}

.displayBottomContainer {
  height: 30%;
  flex-direction: row;
  display: flex;
}

.displayTopText {
  font-size: 0.9em;
  color: gray;
  margin-right: 1vw;
}

.displayMainTextContainer {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
}

.displayMainText {
  font-family: "Fira Code Medium", sans-serif;
  color: #282c34;
  margin-right: 1%;
  margin-left: 1%;
}

.displayRightText {
  font-size: calc(2.4em + 2vmin);
  font-family: "Fira Code Medium", sans-serif;
  color: #282c34;
  margin-right: 1%;
  margin-left: 1%;
}

.displayMainLeft{
  width: 15%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.displayMainRight{
  white-space: normal;
  overflow: hidden;
  width: 85%;
  display: flex;
  background-color: limegreen;
  align-content: flex-end;
  justify-content: flex-end;
  justify-items: flex-end;
  align-items: center;
}