//@import "/config/utils/respond-to";

.App {
  display: flex;
  background-color: #282c34;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
