.AdvancedContainer {
  background-color: mediumslateblue;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90%;
  width: 60%;
}

.AdvancedContainerParagraph {
  align-self: center;
  font-size: 20px;
  color: aquamarine;
}