.AdvancedContainer {
  background-color: mediumslateblue;
  display: flex;
  height: 25vh;
  min-height: 10vh;
  min-width: 7vw;
  width: 20vw;
}

.AdvancedContainerParagraph{
  font-size: 20px;
  color: aquamarine;
}